.gradle/
.kotlin/
build/
local.properties
local-signing.properties
*.iml
.idea/

**/build/
captures/
.externalNativeBuild/
.cxx/
.tmp_media3/

*.apk
*.aab
*.ap_
*.keystore
*.jks

google-services.json
